#banner
  .banner_content
    %h1 Welcome
    %p Your online notepad, Never forget an idea again.
    %button= link_to 'Sign Up', new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notepad application. Period."
    %p.name - Chivorn Kouch

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Viral Echo Park Intelligentsia Viral Echo Park IntelligentsiaViral Echo Park Intelligentsia
      .callout
        %i.fa.fa-rocket
        %h2 Rocket
        %p Viral Echo Park Intelligentsia Viral Echo Park IntelligentsiaViral Echo Park Intelligentsia
      .callout
        %i.fa.fa-bolt
        %h2 Lightning
        %p Viral Echo Park Intelligentsia Viral Echo Park IntelligentsiaViral Echo Park Intelligentsia

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up...!
    %button= link_to 'Click Meee!!!', new_user_registration_path

%footer
  %p &copy; Chivorn Kouch
